beartype==0.18.5
black==24.4.2
brainglobe==1.1.0
caveclient==5.15.2
cloud-volume==10.0.1
Cython==3.0.11
einops==0.8.0
emcee==3.1.6
fabio==2024.9.0
fqdn==1.5.1
gdown==5.2.0
gpustat==1.1.1
hydra-core==1.3.2
isoduration==20.11.0
jaxtyping==0.2.33
jsonpointer==3.0.0
jupyter==1.0.0
jupyter-scatter==0.19.1
kaleido==0.2.1
MDAnalysis==2.7.0
napari-ndtiffs==0.2.1
napari-plugin-manager==0.1.0a2
navis-fastcore==0.0.6
nbstripout==0.7.1
netCDF4==1.7.2
neuprint-python==0.4.26
neuroglancer==2.39.2
nglview==3.1.2
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-nccl-cu12==2.20.5
nvidia-nvtx-cu12==12.1.105
pdb2pqr==3.6.2
pyconify==0.1.6
pycurl==7.45.3
pyfqmr==0.2.1
pyg-lib==0.4.0+pt21cu121
PyQt5==5.15.10
PySocks==1.7.1
python-voi==0.0.2
pytorch-metric-learning==2.6.0
skelescope==0.0.8
timm==1.0.7
torch-cluster==1.6.3+pt21cu121
torch_geometric==2.5.3
torch-scatter==2.1.2+pt21cu121
torch-sparse==0.6.18+pt21cu121
torch-spline-conv==1.2.2+pt21cu121
torchaudio==2.1.0+cu121
torchmetrics==1.4.2
triangle==20230923
uri-template==1.3.0
wandb==0.17.4
webcolors==24.6.0
wheel==0.43.0
zarr==2.18.2
